.container-fluid {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

stl-model-viewer {
  height: 70vh;
  width: 50%;
  object-fit: cover;
  cursor: crosshair;
}

.download-model-btn {
  padding: 20px;
  min-width: 65%;
  font-weight: bold;
}

.save-model-btn {
  padding: 10px;
  min-width: 65%;
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}