.container-fluid {
  height: fit-content;
  min-height: 100vh;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

stl-model-viewer {
  height: 70vh;
  min-width: 50%;
  object-fit: cover;
  cursor: crosshair;
}

.download-model-btn {
  padding: 20px;
  min-width: 65%;
  font-weight: bold;
}

.save-model-btn {
  padding: 10px;
  min-width: 65%;
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

@media (max-width:800px) {
  stl-model-viewer {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    cursor: crosshair;
    margin: 0px 20px;
  }

  .download-model-btn {
    padding: 20px;
    width: 100%;
    font-weight: bold;
    margin: 10px;
  }

  .save-model-btn {
    padding: 10px;
    width: 100%;
    font-weight: bold;
  }
}