* {
  margin: 0;
  padding: 0;
}

.container-fluid {
  min-height: 100%;
  object-fit: cover;
  background-color: rgba(255, 255, 255, 0.5);
}

.model-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-sidebar {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  border-left: 1px solid rgb(204, 204, 204);
}

stl-model-viewer {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: crosshair;
}

.action-btn {
  padding: 10px;
  width: 100%;
  margin: 1rem;
  font-weight: bold;
}

.save-model-btn {
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

@media (max-width:800px) {
  stl-model-viewer {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    cursor: crosshair;
    margin: 0px 20px;
  }

  .download-model-btn {
    padding: 20px;
    width: 100%;
    font-weight: bold;
    margin: 10px;
  }

  .save-model-btn {
    padding: 10px;
    width: 100%;
    font-weight: bold;
  }
}

.spinner-container {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}