.container-fluid {
  position: relative;
  height: 100%;
}

.table-container {
  min-height: 84vh;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-header-cell {
  padding: 10px;
  font-weight: bold;
}

th.mat-header-cell:hover {
  font-weight: bold;
  color: rgb(40, 40, 40);
}

td.mat-cell {
  padding: 10px;
}

.mat-row:hover:not(.disabled) {
  background-color: lightgrey;
  cursor: pointer;
}

.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.disabled {
  background-color: rgba(211, 211, 211, 0.6);
}
