* {
    transition: 3s;
}

.container {
    height: fit-content;
    width: fit-content;
}

.backdrop {
    z-index: 0;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.col-lg-5 {
    position: relative;
    z-index: 10;
}