* {
  padding: 0px;
  margin: 0px;
}

.reconstruct-tab {
  background-color: white;
  height: 100%;
}

.image-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:whitesmoke;
  height: 100%;
}

.relative-container {
  position: relative;
  justify-content: start;
  padding-bottom: 5vh;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.feature-box {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  padding: 10px 30px;
}

.main-title {
  margin-bottom: 9vh;
  margin-top: 9vh;
} 

.main-title .primary-title{
  font-size: xx-large;
  font-weight: 450;
  text-align: center;
}

.main-title .secondary-title{
  font-size: large;
  font-weight: 100;
  text-align: center;
}

.icon {
  text-align: center;
}

.title {
  padding: 10px;
  text-align: center;
}

.title h6 {
  font-size: 0.9rem;
}

.feature-content {
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}


.add-files {
  position: relative;
  margin: 20px 0px;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.add-files-btn {
  margin-top: 10px;
  z-index: 5;
}

.add-files-btn:hover {
  z-index: 5;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

.btn-circle {
  position: absolute;
  width: 145px;
  height: 145px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: rgb(200, 200, 200);
  text-align: center;
}

input {
  opacity: 0;
  z-index: 2;
  width: 175px;
  height: 175px;
  line-height: 1.42;
  border-radius: 50%;
}

.drag-drop {
  padding: 10px;
  background-color:cornflowerblue;
}

.float-btn {
  z-index: 10;
  position: fixed;
  height: 60px;
  bottom: 30px;
  right: 30px;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  box-shadow: 2px 2px 3px #999;
}

.progress-dialog {
  height: 100px;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  max-width: inherit;
  /* For Bootstrap 4 - to avoid the modal window stretching 
  full width */
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.spinner-container {
  z-index: 20;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.login-signup-modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/* .model-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  background-color: red;
} */