<!-- <app-image-container url="assets/img/upload/upload_512.png"></app-image-container> -->

<div class="container">
    <div class="row">
        <div class="col-md-3"><app-image-container url="assets/img/upload/upload_512.png"></app-image-container></div>
        <div class="col-md-3"><app-image-container url="assets/img/upload/upload_512.png"></app-image-container></div>
        <div class="col-md-3"><app-image-container url="assets/img/upload/upload_512.png"></app-image-container></div>
        <div class="col-md-3"><app-image-container url="assets/img/upload/upload_512.png"></app-image-container></div>
    </div>
</div>
<app-drag-drop-images></app-drag-drop-images>