.container-fluid {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;
    object-fit: cover;
}

.router-wrapper {
    background-color: whitesmoke;
    flex: 1;
    flex-grow: 1;
}

.footer {
    position: relative;
    margin-top: 0;
    clear: both;
}